.block-language-dirtree {
	font-family: var(--font-monospace);
	word-spacing: normal;
	white-space: pre;
	color: var(--code-normal);
	background-color: var(--code-background);
	padding: var(--size-4-4);
	font-size: var(--code-size);
}

.block-language-dirtree pre {
	color: var(--code-normal);
}

.block-language-dirtree code {
	color: var(--code-normal);
}

.dirtree-connector {
	color: var(--code-comment);
}

.dirtree-dir {
	color: var(--code-keyword);
	font-weight: var(--font-semibold);
}

.dirtree-file {
	color: var(--code-function);
}

.dirtree-annotation {
	color: var(--code-comment);
}
