.dirtree-connector {
	color: var(--code-comment);
}

.dirtree-dir {
	color: var(--code-keyword);
	font-weight: var(--font-semibold);
}

.dirtree-file {
	color: var(--code-function);
}

.dirtree-annotation {
	color: var(--code-comment);
}
