.block-language-dirtree pre {
	color: var(--code-normal);
}

.block-language-dirtree code {
	color: var(--code-normal);
}

.dirtree-connector {
	color: var(--code-comment);
}

.dirtree-dir {
	color: var(--code-keyword);
	font-weight: var(--font-semibold);
}

.dirtree-file {
	color: var(--code-function);
}

.dirtree-annotation {
	color: var(--code-comment);
}
