.block-language-dirtree {
	font-family: var(--font-monospace);
	word-spacing: normal;
	white-space: pre;
	color: var(--code-normal);
	background-color: var(--code-background);
	padding: var(--size-4-4);
	font-size: var(--code-size);
}

.dirtree-connector {
	color: var(--text-faint);
}

.dirtree-dir {
	color: var(--text-accent);
	font-weight: var(--font-semibold);
}

.dirtree-file {
	color: var(--code-normal);
}

.dirtree-annotation {
	color: var(--text-muted);
	font-style: italic;
}
